<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%>></title>
    <link rel="stylesheet" href="../assets/css/retrive.css">
</head>
<body>
    <div class="container">
	
        <div class="table">

            <%for(let i of data ){%>
            
                <div class="table-content">	
                    <div class="table-row">		
                        <div class="table-data"><%=i[0]%></div>
                        <div class="table-data"><%=i[1]%></div>
                        <div class="table-data"> <%=i[2]%></div>
                    
                    </div>
                </div>	
             <%}%>  
        </div>
    </div>      
</body>
</html>